/* Dynamic underline text when mouse is hover */
.dynamic_underline {
    color: #00FFAA;
    text-decoration: none;
    background: linear-gradient(to top, rgba(0, 255, 170, 1) 0%, rgba(0, 255, 170, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size 0.5s;
    transition: all 0.5s ease-out;
    padding: 0%;
    margin: 0% 2% 0% 2%;
}

.dynamic_underline:hover {
    background-size: 100% 100%;
    color: white;
}