html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
}


i {
    font-style: normal;
    font-weight: bold;
    color: #00FFAA;
}

g {
    font-weight: 900;
}

h1 {
    color: red
}

table {
    table-layout: fixed;

    border-collapse: collapse;

}

td {
    border: solid;
    text-align: center;
}

.border{
    border: solid red 5px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical_writing {
    flex-direction: column;
}

.horizontal_writing {
    flex-direction: row;
}

.full_width {
    width: 100%;
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transition: all 1s ease-out;
}

#display_data_ctn{
    margin: 0% 2%;
    width: 20%;
    height: 4vh;
    background-color: #333;
    color: #fff;
}

nav a{
    color: #fff;
    font-size: 150%;
    text-decoration: none;
    margin-right: 2%;
}

nav a:hover {
    color: #ddd;
}

